/* add border box to every box element inside our wrapper...other than the main wrapper */

#wrapper-sc {
	* {
	box-sizing: border-box;
	}
	.group-sc:before, .group-sc:after {
	display: table;
	content: "";
	}
	.group-sc:after {
	clear: both;
	}
}

/* text selection colours */
#wrapper-sc::selection {
	background: #000000;
	color: #fff;
	text-shadow: none;
}

/***************** Your Styles Below *****************/

#wrapper-sc {
	font-family: sans-serif;
	display: block;
	width: 500px;
	background: #FFFFFF;
	padding: 20px;
	box-sizing: border-box;
	@include mobile-view {
		width: 100%!important;
	}
}
